<!DOCTYPE html>
<html>
<head>
<title>VP-Chat</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'>
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <script src="myScript.js"></script>
<div class="row">
      <div class="column">
        <p><div id="thicker" class="members-count">-</div></p>
        <br>
      </div>
      <div class="column">
        <div style="float:right;" id="memlist" class="members-list">-</div>
      </div>
</div>
<br>
<hr style="height: 3px; background-color: #000000;">
  <center><div id="messager" class="messages"></div></center>
  <center><form class="message-form" onsubmit="return false;"/></center>
    <center><input class="message-form__input" placeholder="Type a message.." type="text"/></center>
  </form>
</body>
</html>
